//Variables
$default-text: 'Manrope', sans-serif; 

$background-colour: #F2F2F2;
$highlight-colour: #8C1C7A;
$default-text-colour: #262626;

//variables for media queries
$tablet: 768px;
$large-mobile: 600px;
$med-mobile: 400px;